<hr />
<footer id="about">
  <h2>About the blog:</h2>
  <p>&#169; {{ site.author | escape }}, by {{ site.author | escape }}</p>
  <blockquote>{{- site.description | escape -}}</blockquote>
  <p>Contact:</p>
  <ul class="cookies">
    <li>Email: bytesizedcookie@outlook.com</li>
    <li>Github: @ByteSizedCookie</li>
  </ul>
  <p>Credits:</p>
  <ul class="cookies">
    <li>
	  Site cookie icon used from a public domain SVG here:<br />
	  https://www.svgrepo.com/download/30963/cookie.svg
    </li>
  </ul>
</footer>
