<header class="site-header" role="banner">
  {%- assign default_paths = site.pages | map: "path" -%}
  {%- assign page_paths = site.header_pages | default: default_paths -%}
  <h1>
    {{ site.title | escape}}
    <img class="icon" alt="Cookie" src="/assets/images/cookie.svg" />
  </h1>
  <hr />
  <nav>
    <a href="{{ "/" | relative_url }}">Home</a>
    <a href="{{ "/feed.xml" | relative_url }}">Subscribe with RSS!</a>
    <a href="#about">About</a>
    {%- if page_paths -%}
	  {%- for path in page_paths -%}
	    {%- assign my_page = site.pages | where: "path", path | first -%}
		{%- if my_page.title -%}
		  <a class="page-link" href="{{ my_page.url | relative_url }}">
			  {{ my_page.title | escape }}
		  </a>
		{%- endif -%}
	  {%- endfor -%}
    {%- endif -%}
  </nav>
  <hr />
</header>
