---
layout: default
---

{%- if page.title -%}
  <h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

<h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
<ul class="cookies">
{%- if site.posts.size > 0 -%}
  {%- for post in site.posts -%}
    <li>
      <h3>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h3>
      {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
      <em>{{ post.date | date: date_format }}</em>
      {%- if site.show_excerpts -%}
        {{ post.excerpt }}
      {%- endif -%}
    </li>
  {%- endfor -%}
{%- else -%}
  <li>No current posts.</li>
{%- endif -%}
</ul>
